.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  padding: 0 1rem;
  margin: 0;
  transition: 0.5s;
}

.header-toggle {
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--first-color);
}

.header-toggle .fa-xmark {
  animation: rotation 1000ms;
}

.sidebar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: -30%;
  max-height: 100vh;
  width: var(--nav-width);
  background-color: var(--first-color);
  transition: 0.5s;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  min-height: 100vh;
}

.nav .nav-list{
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.nav-logo,
.nav-link,
.nav-sub-link {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 1.2rem;
  padding: 0.5vh 0 0.5vh 0.5rem;
}

.nav-user {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 1rem;
  padding: 0 0 0 0.8rem;
}

.nav-logo .nav-logo-icon,
.nav-link .nav-link-icon {
  width: 2rem;
  min-width: 2rem;
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link .fade-in,
.nav-sub-link .fade-in {
  animation: fadein 0.5s linear;
  opacity: 1;
}

.nav-link .fade-out,
.nav-sub-link .fade-out {
  animation: fadeout 0.5s linear;
  opacity: 0;
}

.nav-user .nav-user-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link .nav-link-title .nav-link-drop-down-icon {
  font-size: small;
  width: 80%;
  text-align: end;
  transition: 0.5s;
}

.nav-logo, .nav-user {
  display: flex;
  align-items: center;
  height: 7vh;
}

.nav-logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
  cursor: pointer;
}

.nav-logo-name {
  font-weight: 700;
  color: var(--white-color);
  max-width: 8rem;
  word-wrap: break-word;
}

.nav-user-avatar {
  color: var(--white-color);
  cursor: pointer;
}

.nav-user-name {
  font-weight: 700;
  color: var(--white-color);
  max-width: 8rem;
  word-wrap: break-word;
}

.nav-link {
  position: relative;
  margin: 1vh 0.5rem 0 0.5rem;
  padding: 0.5vh 0 0.5vh 0;
  min-height: 5vh;
  display: flex;
  align-items: center;
  color: var(--white-color);
  text-decoration: none !important;
  border-radius: 00.625rem;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: var(--first-color);
  background-color: var(--white-color);
}

.nav-sub-link {
  position: relative;
  margin: 0 0.5rem 0 0.5rem;
  padding: 0.5vh 0 0.5vh 0.5rem;
  height: 5vh;
  display: flex;
  align-items: center;
  color: var(--white-color);
  background-color: #0000002f;
  text-decoration: none !important;
  border-radius: 00.625rem;
  transition: all 0.3s ease;
}

.sub-collapse {
  display: none;
  animation: fadeout 0.5s linear;
}

.sub-expand {
  display: flex;
  animation: fadein 0.5s linear;
}

.nav-sub-link:hover {
  color: var(--white-color);
  background-color: rgba(227, 227, 227, 0.1);
}

.nav-sub-link .nav-sub-link-icon {
  width: 2rem;
  min-width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  color: var(--first-color);
  background-color: var(--white-color);
}

.sub-active {
  color: var(--white-color);
  background-color: rgba(227, 227, 227, 0.1);
}

.sub-active:hover {
  color: var(--white-color);
  background-color: rgba(227, 227, 227, 0.1);
}

.show {
  left: 0;
}

.space-toggle {
  padding-left: calc(var(--nav-width) + 1rem);
}

.drop-down-link {
  padding-left: 2rem;
}

@media screen and (min-width: 768px) {

  .header {
    height: calc(var(--header-height) + 1vh);
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .sidebar {
    left: 0;
  }

  .nav-link .nav-link-title {
    align-items: center;
    width: 8rem;
    word-wrap: break-word;
  }

  .show {
    width: calc(var(--header-height) + 11rem);
  }

  .space-toggle {
    padding-left: calc(var(--nav-width) + 11rem);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
    offset: 0;
  }
  to {
    transform: rotate(2turn);
    offset: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
